# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# If the Flash sector size is ommitted, this value is assumed to
# be the same as the Environment size.

# NAND example
# MTD device name	Device offset	Env. size	Flash sector size	Number of sectors
/dev/mtd2		0x00000		0x20000		0x20000			1

# Block device example
#/dev/mmcblk0		0xE0000		0x2000

# VFAT example
#/boot/uboot.env	0x00000		0x4000
