[Unit]
Description=Bluetooth OBEX service

[Service]
Type=dbus
BusName=org.bluez.obex
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/dbus/system_bus_socket"
ExecStartPre=/bin/mkdir -p /tmp/bluetooth-inbox
ExecStart=/usr/libexec/bluetooth/obexd -a -l -r /tmp/bluetooth-inbox

[Install]
Alias=dbus-org.bluez.obex.service
