# Anyone has readonly permission to IIM device file
KERNEL=="mxc_iim",  MODE="0444", SYMLINK+="mxc_mem"
KERNEL=="mxs_viim", MODE="0444", SYMLINK+="mxc_mem"
KERNEL=="mxc_ipu",  MODE="0666"
KERNEL=="mxc_vpu",  MODE="0666"
SUBSYSTEM=="video", MODE="0660"
KERNEL=="fb[0-9]",  MODE="0660", GROUP="video"
KERNEL=="gsl_kmod", MODE="0660", GROUP="video"
KERNEL=="galcore", MODE="0660", GROUP="video"
